body {
    font-family: Helvetica, serif;
    background-color: #eee;
}

.demo-card-wide.mdl-card {
    width: 412px;
    margin: 0 10px 10px;
}

#companyName {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 2em;
    font-weight: 300;
    line-height: 20px;
    display: block;
    color: #636363;
    /*background-color: rgb(63, 81, 181);*/
    text-align: center;
    margin: 1em 0 2em 0;
    /*height: 30px;*/
    /*width: 412px;*/
    /*padding: 10px 0 10px 0;*/
    /*margin: 0px 10px 10px;*/
}

.mdl-card {
    padding: 25px 20px 35px;
}

.mdl-textfield {
    width: 400px;
}

.mdl-textfield__input {
    color: #636363;
    font-size: 24px;
    border-bottom: 1px solid rgba(117, 117, 117, 0.3);
}

.mdl-textfield__label {
    color: #999;
    font-size: 16px;
}

